<h3>Welcome to Dave's <span style="white-space: nowrap">Chess-By-Email</span></h3>
    <hr/>
    <div id="enterGameTable">
        <input type="radio" name="newOrExisting" id="newGameRadio" value="N" tabindex="-1" checked><label for="newGameRadio" style="font-weight: bold">New Game</label>
        <div id="newGameForm">
            <fieldset>
                <label class="sr-only" for="player1Email">Your Email Address</label>
                <input type="email" class="form-control" id="player1Email" maxlength="50" required placeholder="Your Email Address">
                <label class="sr-only" for="player2Email">Opponent's Email Address</label>
                <input type="email" class="form-control" id="player2Email" maxlength="50" required placeholder="Opponent's Email Address">
                <div class="g-recaptcha" data-sitekey="<%= data.siteKey %>"></div>
            </fieldset>
        </div>
        <hr/>
        <input type="radio" name="newOrExisting" id="existingGameRadio" value="E" tabindex="-1"><label for="existingGameRadio" style="font-weight: bold">Continue Existing Game</label>
        <div id="existingGameForm">
            <fieldset>
                <label class="sr-only" for="gameID">Game ID</label>
                <input type="text" class="form-control" id="gameID" required placeholder="Game ID">
                <div><a href="#" id="forgotGameIdLink" tabindex="-1">Forgot your game ID?</a></div>
            </fieldset>
        </div>
        <hr/>
        <div style="text-align: center">
            <button type="button" class="btn btn-primary" id="enterGameSubmitButton" style="margin-right: 10px" tabindex="-1">Submit</button>
            <button type="reset" class="btn" tabindex="-1">Clear</button>
        </div>
    </div>