<div>
    <div id="optionsMenuIcon" title="Options">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="optionsMenu">
        <ul>
            <li id="showLegalMovesOption"><a href="#">Show legal moves:</a> <span id="showLegalMovesValue"></span></li>
            <li id="feedbackOption"><a href="#">Feedback</a></li>
            <li><a href="/">Start new game</a></li>
            <li>Other Games</li>
            <ul>
                <li><a href="http://world.std.com/~dpf/tetris.html" target="_blank">Tetris</a></li>
                <li><a href="http://world.std.com/~dpf/sudoku/" target="_blank">Sudoku</a></li>
            </ul>
        </ul>
    </div>
</div>
