<link rel="import" href="/webapp/polymer/polymer.html">
<link rel="import" href="/webapp/polymer/core-ajax.html">
<polymer-element name="edit-game">
<template>
    <core-ajax id="xhr"
               url="/admin/editGame"
               method="POST"
               handleAs="json"
               on-core-response="{{handleSuccess}}"
               on-core-error="{{handleError}}">
    </core-ajax>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webapp/chess.css" />
    <div>
        <table>
            <tr style="height: 50px">
                <td>Game ID</td>
                <td>{{obj._id}}</td>
            </tr>
            <tr>
                <td><label class="control-label" for="whiteEmail">White Email</label></td>
                <td><input type="email" class="form-control" id="whiteEmail" style="width: 300px" value="{{obj.gameObj.W.email}}"></td>
            </tr>
            <tr>
                <td><label class="control-label" for="blackEmail">Black Email</label></td>
                <td><input type="email" class="form-control" id="blackEmail" style="width: 300px" value="{{obj.gameObj.B.email}}"></td>
            </tr>
            <tr>
                <td><label class="control-label" for="whiteEmail">Move History</label></td>
                <td><input class="form-control" id="moveHistory" style="width: 300px" value="{{obj.gameObj.moveHistory}}"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="button" class="btn btn-primary " on-click="{{submit}}">Submit</button></td>
            </tr>
        </table>
        <div id="response" style="display: none; white-space: normal">{{response}}</div>
        <div id="errMsg" style="display: none; color: red">{{errMsg}}</div>
    </div>
</template>
<script src="/webapp/admin/components/edit-game/tag.js"></script>
</polymer-element>
