<link rel="import" href="/webapp/polymer/polymer.html">
<link rel="import" href="/webapp/polymer/core-ajax.html">
<polymer-element name="find-games-by-email">
<template>
    <core-ajax id="xhr"
               url="/admin/findGamesByEmail"
               method="POST"
               handleAs="json"
               on-core-response="{{handleSuccess}}"
               on-core-error="{{handleError}}">
    </core-ajax>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webapp/chess.css" />
    <div>
        <div>
            <label class="control-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" style="width: 300px" on-keypress="{{submit}}" required>
        </div>
        <div id="errMsg" style="display: none; color: red">{{errMsg}}</div>
        <ul id="response" style="display: none; white-space: normal">
            <template repeat="{{obj in response}}">
                <li><a href="#" on-click="{{editGame}}">{{obj._id}}</a>
                    <ul>
                        <li>Created: {{obj.createDate}}</li>
                        <li>Modified: {{obj.modifyDate}}</li>
                        <li>White:
                            <ul>
                                <li><a href="/?gameID={{obj._id}}-{{obj.gameObj.W.key}}" target="_blank">{{obj._id}}-{{obj.gameObj.W.key}}</a></li>
                                <li>{{obj.gameObj.W.email}}</li>
                            </ul>
                        </li>
                        <li>Black:
                            <ul>
                                <li><a href="/?gameID={{obj._id}}-{{obj.gameObj.B.key}}" target="_blank">{{obj._id}}-{{obj.gameObj.B.key}}</a></li>
                                <li>{{obj.gameObj.B.email}}</li>
                            </ul>
                        </li>
                        <li>Move History: {{obj.gameObj.moveHistory}}</li>
                    </ul>
                </li>
            </template>
        </ul>
    </div>
</template>
<script src="/webapp/admin/components/find-games-by-email/tag.js"></script>
</polymer-element>
